<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.modules.mjPrompt.mapper.MjAppConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="mjjAppConfigResultMap" type="com.smart.modules.mjPrompt.entity.MjAppConfigEntity">
        <result column="id" property="id"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="app_id" property="appId"/>
        <result column="email_config" property="emailConfig"/>
        <result column="folder" property="folder"/>
    </resultMap>
    <select id="getAppConfig" resultType="com.smart.modules.mjPrompt.dto.MjAppConfigDTO">

        SELECT appConfig.*
        FROM smart_mj_app_config as appConfig
                 LEFT JOIN smart_mj_app app on app.id = appConfig.app_id
        where app.app_code = #{appCode}

    </select>

</mapper>
